.App {
    display: flex;
    margin: 150px 0px;
    align-items:center;
    flex-direction: column;
}

.title {
    text-align: center;
}

.number {
    text-align: center;
}

.plus, .minus {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}


.plus, .minus {
    font-weight: 900;
    color: rgb(214, 231, 247);
    background-color: rgb(38, 120, 226);
    text-transform: uppercase;
    width: 70px;
    height: 30px;
    margin-left: 3px;
    border-radius: 5px 5px 5px 5px;
}

.minus {
    background-color: rgb(233, 51, 27);
}

@media screen and (max-width: 425px) {
    .App {
        display: flex;
        margin: 30px 0px;
        align-items:center;
        flex-direction: column;
    }
    
}

